<main class="main-content has-footer confirm">	
	<div class="wrap">
		<div class="confirm-top" ng-click="goaddAddress()">
			<span class="icon-arrow">{{list}}</span>
			<span class=""> </span>
		</div>
		<div class="product">
			<div class="pic">
				<img ng-src="{{vm.thumbImgUrl}}">
			</div>
			<div class="detail">
				<div class="confirm-maction f24 goodname"><span class="goods-name">{{vm.goodsName}}</span></div>
				<!--<div class="storage"><span>规格</span><span>64g</span></div>-->
				<div class="price confirm-maction"><span class="per-price f26">{{salePrice | currency : '￥'}}</span>×<span class="num">{{vm.goodsNum}}</span></div>
			</div>
		</div>
		<label class="confirm-inpt"><span class="f26">选填：</span><textarea type="text" placeholder="给商家留言" ng-model="vm.remark" maxlength="50" class="confirm-text" wrap="off"></textarea></label>
		<div class="method">
			<span class="pull-left f26 confirm-color">配送方法</span>
			<span class="pull-right f24 confirm-dx confirm-right">{{vm.express}}</span>
		</div>
		<div class="method" ng-click="goinvoice()">
			<div class="inner line">
				<span class="pull-left f26 confirm-color">发票信息</span>
				<span class="pull-right f24 confirm-dx icon-arrow ">{{vm.invoice}}</span>
			</div>
		</div>
		<div class="method" >
			<div class="inner line">
				<span class="pull-left f26 confirm-color">支付方式</span>
				<span class="confirm-zhifu icon-arrow" ng-click="method($event)">{{vm.mode}}</span>
			</div>
		</div>
		<div class="method" ng-click="card()" ng-if="vm.mode =='分期购'&&driver">
			<div class="inner line">
				<span class="pull-left f26 confirm-color">优惠券({{yhj}})</span>
				<span class="pull-right f24 confirm-dx icon-arrow "><span class="confirm-dx-one">{{vm.Choice}}</span><span ng-if="vm.Choice=='未选择'">{{vm.total}}张可用</span></span>
			</div>
		</div>
		<div class="method margin-bottom-none confirm-bottom" ng-if="vm.paid!=0">
			<div class="inner line">
				<span class="pull-left f26 confirm-color">{{selectionperiod}}</span>
				<span class="pull-right f22 confirm-dx-one"><span ng-if="judge">已选&nbsp;{{periodsValue}}分期</span>&nbsp;{{rent}}:{{monthRepayPrincipalAmount | currency : '￥'}}<span class="confirm-span" ng-click="vm.theDialog()"></span></span>
			</div>
		</div>
		<div class="total-free" ng-if="vm.paid!=0">
			<div class="ferr confirm-bottom" ng-repeat="list in item" ng-click="Obtain(list.periods,list.loanRate,list.feeRate,list.monthRepayPrincipalAmount,list.freeServerFee)" ng-if="list.driver">
				<span class="f26 confirm-color-balck" ng-class="{orange:periodsValue==list.periods}">
					￥{{list.monthRepayPrincipalAmount}}<span ng-if="freePeriods<list.periods">起</span>&nbsp;x&nbsp;{{list.periods}}期
					<span class="f18 mian" ng-if="list.freeServerFee==1">免手续费</span>&nbsp;<span class="f18 mian" ng-if="list.freeInterest==1">免息</span>
					<p class="f20">(<span ng-class="{through:list.freeServerFee==1}">&nbsp;手续费￥{{list.serverFee}}</span>，<span ng-class="{through:list.freeInterest==1}">利息:0.75%/期&nbsp;</span>)</p>
					<span class="click" ng-class="{obtain:periodsValue==list.periods}"></span>
				</span>
			</div>
		</div>
		<div class="total">
			<div class="month confirm-bottom">
				<span class="pull-left f26 confirm-color">{{grossrent}}</span>
				<span class="pull-right f24"><a class="red">{{vm.pricenum | currency : '￥'}}</a></span>
			</div>
			<div class="month confirm-bottom" ng-if="judge">
				<span class="pull-left f26 confirm-color">实付总额</span>
				<span class="pull-right f24"><a class="red">{{vm.paid | currency : '￥'}}</a></span>
			</div>
		</div>
		<div class="confirm-div ng-scope" >
			<!--<p class="agreement" ng-class="{active:isAgreement}" ng-click="agreementClick()">同意<span ng-click="alert()">《汇生活分期协议》</span></p>-->
			<p class="agreement" >同意<span ng-click="alert()">《汇生活分期协议》</span></p>
		</div>
	</div>
</main>
<div class="confirm-bot footer-bar" ng-click="Place()">立即下单</div>
<div class="dialog-wrap1" style="display: none;">
	<div class="dialog-mask1 active"></div>
	<div class="dialog-content1 active">
		<div class="content">
			<div class="confirm-h-top">{{Repaymentplan}}</div>
			<div class="confirm-nav"><span>期数</span><span>{{Formonth}}</span><span>本金</span><span>服务费</span><span ng-if="mark==1">免息</span></div>
			<div class="confirm-section" ng-repeat="for in vm.repayment"><span>第{{for.periods}}期</span><span>￥{{for.repayAmount}}</span><span>￥{{for.principalAmount}}</span><span ng-class="{through:for.freeInterest==1}">￥{{for.interestFee}}</span></div></div>
			<div class="bottom flex-box">
				<p class="confirm-p" >{{written}}：<span ng-class="{through:freeServerFee==1}">￥{{serverFee}}</span><span ng-if="freeServerFee==1">免手续费</span></p>
				<a class="flex-1 confirm1-btn" href="javascript:void(0)" ng-click="Close()">我知道了</a>
			</div>
	</div>
</div>