<main class="main-content register-password">
	<div class="scroll">		
		<div class="m40">
			<p>请输入{{vm.phoneName}}收到的短信验证码</p>
			<form class="form">
				<div class="item-form">
					<label for="username"><i class="icon-input i-name"></i></label>
					<input id="username" type="text" maxlength="8" name=""ng-model="vm.checkCode"  placeholder="请输入手机验证码">
					<span class="text-empty" ng-click="vm.deletel()">&times;</span>
					<button class="info-btn" ng-disabled="vm.isTimeout" type="button"  ng-click="vm.sendSM();"></button>
				</div>
				<div class="item-form">
					<label for="password"><i class="icon-input i-pass"></i></label>
					<input id="password" type="password" maxlength="20" name="" ng-model="vm.newPassword" placeholder="请输入密码">
					<i class="icon-input i-pass-hide" ng-click="vm.passwordShow($event)"></i>
				</div>
				<div class="hint col-main">请注意交易密码不能与登录密码一致.</div>
				<div class="item-form">
					<span class="icon-input icon-radio text-center"><i></i></span>
					<input type="text" name="" maxlength="11" ng-model="vm.recomPhoneNum" placeholder="推荐人手机号(选填)">
				</div>
				<a class="btn" ng-click="vm.verifyForm();">注册</a>
			</form>
		</div>
	</div>
</main>


