<main class="main-content">
	<div class="scroll">
		<div class="invoice-top">
			<span class="f26 invoice-top-color">发票类型</span>
			<span>普通发票</span>
		</div>
		<div class="invoice-section">
			<div class="invoice-section-list f26 invoice-top-color">发票抬头</div>
			<div class="invoice-section-list2 " >
				<i class="f1" ng-click="vm.handover($event)"></i><span>个人</span><input class="invoice-text" type="text"  onfocus=this.blur() /><br />
				<div class="invoice-i-info"></div>
				<i class="f2 invoice-info" ng-click="vm.handover($event)"></i><span>公司</span><input ng-model="vm.cookie.invoiceTitle" class="invoice-text" type="text" maxlength="30" placeholder="{{vm.placeholder}}"/>
			</div>
			
		</div>
		<div class="invoice-nav invoice-margin">
			<span class="f26 invoice-top-color">发票内容</span>
			<span class="">明细</span>
		</div>
		<div class="invoice-nav invoice-margin" ng-click="vm.goaddAddress()">
			<span class="f26 invoice-top-color">寄&nbsp;送&nbsp;至</span>
			<span class="icon-arrow" >{{vm.address}}</span>
		</div>
		<button class="invoice-btn f30 invoice-color-bai" ng-click="vm.goorder()">确认</button>
   </div>
<main>