<main class="main-content has-footer essInfor bankCard">
    <h3>个人信息</h3>
    <div class="essInfor-main">
        <label><span>姓<em></em>名</span><input type="text" maxlength="20" placeholder="请输入您的姓名" ng-model="vm.info.userName" ng-if="vm.showName"><b ng-if="!vm.showName">{{vm.info.userName}}</b></label>
        <label><span>身份证号</span><input type="text" maxlength="20" placeholder="请输入身份证号码" ng-model="vm.info.idCard" ng-if="vm.showId"><b ng-if="!vm.showId">{{vm.info.idCard}}</b></label>
    </div>
    <h3>银行卡信息<span>（仅支持储蓄卡，每月11号将从此卡扣款）</span></h3>
    <div class="essInfor-main">
        <label><span>银行卡号</span><input type="text" maxlength="20" placeholder="请输入银行卡号" ng-model="vm.info.cardNo" ng-blur="vm.getBankName()"><span ng-click="vm.getBankList()"></span></label>
        <label ng-if="vm.info.bankName"><span>所属银行</span><b>{{vm.info.bankName}}<small>（不可选，自动识别）</small></b></label>
        <label class="long"><span>银行预留手机号</span><input type="tel" maxlength="11" placeholder="请输入手机号" ng-model="vm.info.phoneNo"></label>
    </div>
    <!--<h3></h3>-->
    <!--<div class="essInfor-main">-->
        <!--<label class="long"><span>设置交易密码</span><input type="text" maxlength="20" placeholder="请输入您的姓名" ng-model="vm.myInfo.name"><span></span></label>-->
    <!--</div>-->
    <!--<p>请注意交易密码不能与登录密码一致.</p>-->
    <h4 ng-click="vm.submit()">下一步</h4>
</main>