<main class="main-content">
    <section class="address clearfix">
        <div>
            <h2>收<i>货</i>人</h2>
            <input type="text" placeholder="添加收货人" maxlength="20" ng-model="vm.name" >
        </div>
        <div>
            <h2>联系电话</h2>
            <input type="text" placeholder="请输入手机号码" maxlength="11" ng-model="vm.phone" >
        </div>
 <!--       <div>
            <h2>邮<em></em>箱</h2>
            <input type="text" placeholder="输入邮箱" maxlength="30" ng-model="vm.eml">
        </div>-->
        <div>
            <h2>所在地区</h2>
            <span class="select-address" ng-click="vm.showSelect();">{{vm.selectAddress}}</span>
            <span class="icon-arrow"></span>
        </div>
        <div>
            <textarea placeholder="请填写详细地址，不少于5个字" maxlength="40" ng-model="vm.consigneeAddress" >{{vm.consigneeAddress}}</textarea>
        </div>
        <div>
            <h2>设为默认</h2>
            <input class="ui-switch ui-switch-anBg" type="checkbox" ng-click="vm.checkbox();" ng-checked="vm.defaultAddress">
        </div>
    </section>
    <div class="m40 form address-btn">
        <button class="btn" ng-click="vm.addAddressOpen();">保存</button>
    </div>
    <!--弹出选择所在地区-->
    <div class="modal-layer">
        <div class="shade"></div>
    </div>
    <section class="select-open clearfix" ng-class="{translate3d:vm.select3d}">
        <div class="select-title f26">所在地区<span ng-click="vm.hideSelect();">x</span></div>
        <div class="select-tab f24">
            <span class="active" ng-click="vm.selectTabClick('province')" ng-bind="vm.address1"></span>
            <span ng-bind="vm.address2" ng-click="vm.selectTabClick('city')"></span>

            <span ng-bind="vm.address3" ng-click="vm.selectTabClick('county')"></span>

            <span ng-bind="vm.address4" ng-click="vm.selectTabClick('town')"></span>
        </div>
        <div class="select-scroll rightProvince">
            <div class="select-content f24">
                <dl>
                    <dt ng-class="{true: 'active', false: ''}[provinceList.provinceId==vm.provinceId]" ng-repeat="provinceList in vm.provinceList" ng-click="provinceClick(provinceList.provinceId,provinceList.provinceName)">{{provinceList.provinceName}}</dt>
                </dl>
            </div>
        </div>
        <div class="select-scroll city-box">
            <div class="select-content f24">
                <dl>
                    <dt ng-class="{true: 'active', false: ''}[cityList.cityId==vm.cityId]" ng-repeat="cityList in vm.cityList" ng-click="cityClick(cityList.cityId,cityList.cityName)">{{cityList.cityName}}</dt>
                </dl>
            </div>
        </div>
        <div class="select-scroll county-box">
            <div class="select-content f24">
                <dl>
                    <dt ng-class="{true: 'active', false: ''}[countyList.countyId==vm.countyId]" ng-repeat="countyList in vm.countyList" ng-click="countyClick(countyList.countyId,countyList.countyName)">{{countyList.countyName}}</dt>
                </dl>
            </div>
        </div>
        <div class="select-scroll street-box">
            <div class="select-content f24">
                <dl>
                    <dt ng-class="{true: 'active', false: ''}[townList.townId==vm.townId]" ng-repeat="townList in vm.townList" ng-click="townClick(townList.townId,townList.townName)">{{townList.townName}}</dt>
                </dl>
            </div>
        </div>
    </section>
</main>
