<main class="main-content password">
	<div class="scroll">
		<form class="form mt-110">
			<div class="item">
				<div class="item-form">
					<label for="password"><i class="icon-input i-pass"></i></label>
					<input id="password" type="password" name="" maxlength="20" ng-model="vm.passWord" placeholder="请输入原密码">
				</div>
				<div class="item-form">
					<label for="password"><i class="icon-input i-pass"></i></label>
					<input id="password" type="password" maxlength="20" name="" ng-model="vm.newPassWord" placeholder="请输入新密码">
					<i class="icon-input i-pass-hide" ng-click="vm.passwordShow($event)"></i>
				</div>
			</div>
			<p class="forgot-pass text-right f24"><a class="col-main" ng-click="vm.goModifyPsw()">忘记密码?</a></p>
			<div class="m40"><button class="btn" type="button" ng-click="vm.verifyForm()">确认</button></div>
		</form>	
	</div>
</main>

