<main class="main-content password">
	<div class="scroll">
		<form class="form mt-110">
			<div class="item">
				<div class="item-form">
					<label for="phone"><i class="icon-input i-name"></i></label>
					<input id="phone" type="text" maxlength="11" name="" ng-model="vm.phoneNum" placeholder="11位手机号" ng-blur="blur()">
				</div>
			</div>
			<div class="item">
				<div class="item-form">
					<label for="infoCode"><i class="icon-input i-info"></i></label>
					<input id="infoCode" type="text" maxlength="6" name="" ng-model="vm.SMCode" placeholder="手机验证码区分大小写!">
					<button class="info-btn" type="button" ng-click="vm.send()"></button>
				</div>
				<div class="item-form bottom">
					<label for="password"><i class="icon-input i-pass"></i></label>
					<input id="password" type="password" maxlength="20" name="" ng-model="vm.newPassword" placeholder="请输入6-20位密码">
					<i class="icon-input i-pass-hide" ng-click="vm.passwordShow($event)"></i>
				</div>
			</div>
			<div class="m40"><a class="btn" ng-click="vm.verifyForm()">下一步</a></div>
		</form>	
	</div>
</main>

