<main class="main-content password">
	<div class="scroll">
		<form class="form mt-110">
			<div class="item">
				<div class="item-form">
					<label for="infoCode"><i class="icon-input i-info"></i></label>
					<input id="infoCode" type="text" maxlength="8" name="" ng-model="vm.SMCode" placeholder="手机验证码">
					<button class="info-btn" type="button"></button>
				</div>
				<div class="item-form">
					<label for="password"><i class="icon-input i-pass"></i></label>
					<input id="password" type="password" maxlength="20" name="" ng-model="vm.newPassword" placeholder="请输入6-20位密码">
					<i class="icon-input i-pass-hide" ng-click="vm.passwordShow($event)"></i>
				</div>
			</div>
			<p class="hint col-main">请注意交易密码不能与登录密码一致.</p>
			<div class="m40"><button class="btn" ng-click="vm.verifyForm()">完成</button></div>
		</form>	
	</div>
</main>

