
/*订单填写*/
#lvxy{display: none;position: absolute;background: #fff;width: 9rem;height: 13rem;margin: 1.5rem 0.45rem;border:2px solid #dcdcdc;border-radius: .1rem;top: 9.7rem;}
.lvxy-dele{display: none;width: 0.8rem;height: 0.8rem;border:2px solid #000;border-radius: 50%;text-align: center;line-height: 0.8rem;position: absolute;right: 0.1rem;top: 10.7rem;font-size: 0.8rem;}
.order-section p{margin-left: 1.9rem;}
.order-top-color{color: #000;}
.setnone{display: none;z-index: 100;}
.border-bottom{border-bottom:1px solid #dcdcdc;} 
.color-black{color: #000;}
.color-orgein{color: #FF602E;}
.order-left{padding-left: .39rem;}
.magin-bottom-none{margin-top: 0;}
.order-padding{padding: 0.53125rem 0 0.421875rem 0 ;}
.order-color-black{color: #000;}
.order-riqi{background: #fff;}
.order-margin-top{margin-top: 0.25875rem;;}
.order-section{background: #f4f5f7;padding: 0.4375rem;font-size: 0.328rem;}
.order-section .div1{width:1.6rem;float: left;border: 1px solid #dcdcdc;}
.order-section .div1 img{width: inherit;height: inherit;}
.order-section .div2 p{padding-bottom: .10rem;margin-left: 2.8rem;}
.order-section-padding-top{padding-top: .5rem;}
.order-section-list{height: 1.14375rem;background: #fff;margin: 0 0.421875rem;display: flex;align-items: center;justify-content: space-between;}
.order-fenqi{background: #fff;padding: 0 0 0.53125rem 0.421875rem}
.order-money{padding: 0.359375rem 0 0 0.5375rem;background: #fff;margin: 0.3rem 0;}
.order-padding-bottom{padding-bottom: 0.34375rem;}
.order-padding-left{padding-left: 0.401875rem;padding-top: 0.421875rem;}
.order-section-list-two{height: 1.34375rem;background: #fff;margin: 0 0.421875rem;line-height: 1.34375rem;}
.order-section-list-two span{padding-right: .4rem;display: inline-block;}
.order-section-list-two input{width: 5rem;height: inherit;display: inline-block;}
.order-icon{background: url(../../common/images/icon03.jpg)no-repeat center;width: .5rem;height:.5rem;display: inline-block;background-size: 100% 100%;margin-right: .3rem;}
.order-icon-f1{background: url(../../common/images/icon06.jpg)no-repeat center;width: .5rem;height:.5rem;display: inline-block;background-size: 100% 100%;margin-right: .3rem;}
.order-footer{width: 100%; background: #fff;text-align: center;height: 1.18rem;line-height: 1.18rem;}
.order-footer i{margin-bottom: -0.08rem;display: inline-block;background:url(../../common/images/icon_03.jpg)no-repeat;width: 0.390625rem;height: 0.390625rem;background-size: 100% 100%;margin-right: .15rem;}
.order-footer .active{background: url(../../common/images/icon_06.jpg)no-repeat;width: 0.390625rem;height: 0.390625rem;background-size: 100% 100%;z-index: 100;}
.order-btn{background: #FF602E;color: #fff;}
.order-fenqi span{width: 20%;height: 0.6875rem;border:1px solid #575757;display: inline-block;border-radius:.1rem;line-height: 0.6875rem;text-align: center;margin-right: 0.31875rem;}
.order-fenqi span.active{border:1px solid #fe612c;color: #FF602E;}
.order-section-list .youhui{border:1px solid #FF602E;border-radius: .05rem;margin-left: 4rem;color: #FF602E;}
.order-div{background: #fff;}
.order-none{display: none;}
.order-na{width: 5rem;display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; }
.order-span{margin-bottom: -0.05rem;margin-left: .1rem;display:inline-block;width: 0.4375rem;height: 0.40625rem;background:url(../../common/images/icon-free_03.png)no-repeat;background-size: 100% 100%;}
input{behavior:url(#default#savehistory)};
/*alert弹框*/
.dialog-wrap1 { position: fixed; top: 0; bottom: 0; z-index: 10; width: 100%; display: none; }
.dialog-wrap1 .dialog-mask1 { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0; -webkit-transition: all .3s ease-out; }
.dialog-wrap1 .dialog-content1 { position: absolute; left: 10%; top: 50%; width: 80%; background-color: #fff; border-radius: 0.15625rem; -webkit-transform: translate3d(0,-50%,0); -webkit-transition: all .3s ease-out; opacity: 0; overflow: hidden; }
.dialog-wrap1 .dialog-content1 .content { padding: 0.9375rem 0.625rem; }
.dialog-wrap1 .dialog-content1 .bottom { border-top: 1px solid #dcdcdc; }
.dialog-wrap1 .dialog-content1 .bottom a { line-height: 1.09375rem; max-width: 50%; font-size: 0.40625rem; text-align: center; }
.dialog-wrap1.active { display: block; }
.dialog-wrap1 .dialog-mask1.active { opacity: .5; }
.dialog-wrap1 .dialog-content1.active { opacity: 1; }
.dialog-wrap1 .dialog-content1 .content{padding: 0;}
.confirm-h-top{height: 1.1rem;font-size: .4rem;text-align: center;line-height: 1.1rem;}
.confirm-nav{height: 0.8rem;background: #dcdcdc;text-align: center;line-height: 0.8rem;}
.confirm-nav span{padding:0 0.54rem;}
.confirm-nav span:nth-child(5){position: absolute;right: 0.05rem;display: inline-block;border: 1px solid #ff602e;padding: 0;height: 0.4rem;width: 0.85rem;text-align: center;color: #ff602a;border-radius: 0.1rem;top: 1.3rem;line-height: 0.4rem;}
.confirm-section{height: 0.8rem;background: #fff;text-align: center;line-height: 0.8rem;}
.confirm-section span{width: 1.9rem;display: inline-block;}
.dialog-wrap1 .dialog-content1 .bottom{width: 100%;height: 2.2rem;position: relative;}
.dialog-wrap1 .dialog-content1 .bottom p span:nth-child(2){display: inline-block;border:1px solid #ff602a;color: #ff602a;border-radius:0.1rem;padding: 0 0.1rem;}
.dialog-wrap1 .dialog-content1 .bottom a.confirm1-btn{width: 4rem;height: 1rem;display: inline-block;border-radius: .1rem;position: absolute;bottom: .25rem;left: 1.9rem;background: #FF602E;color: #fff;}


/*发票信息*/
.invoice-with{width: 3.8rem}
.invoice-margin{margin-top:0.25875rem ;}
.invoice-section-stop{border-bottom: none;}
.invoice-top-color{color: #000;padding-right:3rem;}
.invoice-color-bai{color: #fff;}
.invoice-info{margin-top: .4rem;}
.invoice-btn{width: 8.78125rem;height: 1.0625rem;background: #ff602e;border-radius: .1rem;margin: 0.703125rem 0 0 0.625rem;}
.invoice-top{height: 1.375rem;background: #fff;padding: 0 0.890625rem 0 0.421875rem;display: flex;align-items: center;justify-content: space-between;}
.invoice-section{background: #fff;margin-top: 0.25875rem;}
.invoice-section-list{height: 1.34375rem; border-bottom: 1px solid #dcdcdc;background: #fff;margin: 0 0.421875rem;display: flex;align-items: center;}
.invoice-section-list span{display: flex;align-items: center;}
.invoice-nav{background: #fff;padding: 0.46875rem 0.421875rem;display: flex;align-items: center;justify-content: space-between;}
.invoice-section-list2 i {margin-bottom: -0.08rem;display: inline-block;background:url(../../common/images/icon_03.jpg)no-repeat;width: 0.390625rem;height: 0.390625rem;background-size: 100% 100%;margin-right: .15rem;}
.invoice-section-list2 .active{background: url(../../common/images/icon_06.jpg)no-repeat;width: 0.390625rem;height: 0.390625rem;background-size: 100% 100%;z-index: 100;}
.invoice-section-list2{background: #fff;margin: 0 0.421875rem;padding: .2rem 0;}
.invoice-section-list2 .invoice-text{display: inline-block;margin-left: .3rem;height: 0.9375rem; width: 70%;}
.invoice-section-list2 .invoice-i-info{width: 9.2rem;height: 1px;background: #dcdcdc;}


/*新增出游人*/
.t-add-person .form { padding: 0 0.25rem; }
.t-add-person .item-form { margin-bottom: 0; border: 0; border-bottom: 1px solid #CDCFD2; line-height: 1.40625rem; }
.t-add-person .item-form:last-child { border: 0; }
.t-add-person .item-form span { font-size: 0.375rem; }
.t-add-person .item-form em { color: #A9A9A9; }
.t-add-person .btn { display: block; margin: 1.875rem 0.46875rem 0.46875rem; line-height: 1.0625rem; font-size: 0.5rem; background-color: #ff602e; border-color: #ff602e; color: #fff; }
