.flex-box-between {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.innerPhone{
    color: #242424;
}

#tabTop{
    position: relative;
}

.innerPhone .scroll{ position: relative; }
.innerPhone .header-bar { position: absolute; top: 0; left: 0; background-color: transparent;z-index: 99; }
.innerPhone .header-bar > div { padding: 0.2rem 0.266667rem;  }
.innerPhone .header-bar > div > div { box-sizing: border-box; height: 0.8rem; line-height: 0.8rem; margin-left: 0.2rem; }
.innerPhone .header-bar > div > div:nth-child(1) { margin-left: 0; }
.innerPhone .header-bar .t-category{ display: block; width: 0.8rem; height: 0.8rem; background: url(images/t-category.png) no-repeat; background-size: 100%; border-radius: 50%; box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1); }
.innerPhone .search-container{ padding: 0 0.5rem; background-color: #fff; border-radius: 0.4rem; text-align: center; font-size: 0; box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);}
.innerPhone .search-container > i { display: inline-block; vertical-align: middle; width: 0.46875rem; height: 100%; background: url(images/search.png) no-repeat center; background-size: 0.46875rem; }
.innerPhone .search-container > span { display: inline-block; vertical-align: middle; margin-left: 0.16rem;color: #cbcbcb; font-size: 0.293333rem; }

#search .search-scroll { padding: 0 0.46875rem; }
#search .search-scroll h2 { font-size: 0.4375rem; line-height: 0.625rem; margin-top: 0.625rem; margin-bottom: 0.1875rem; }
#search .search-scroll h2 .del { float: right; margin-right: 0.3125rem; height: 0.625rem; width: 0.625rem; background: url(../common/images/del.png) no-repeat center; background-size:100% 100%; }
#search .search-scroll li { float: left; margin-right: 0.25rem; margin-bottom: 0.25rem; padding: 0.125rem 0.1875rem; background-color: #F1F2F6; border-radius: 0.09375rem; }
#search .search-bar form{width: 7.5rem;display: inline-block;}
#search .search-bar a{margin-top: 0.07rem;}

.innerPhone .main-content { margin-top: 0; background-color: #eee; }
.innerPhone .bannerSlide { height: 4.88rem; }
.innerPhone .bannerSlide a{
    display: block;
}
.innerPhone .bannerSlide img {height: 4.88rem; }
.swiper-container .swiper-pagination{ padding-left: 0.14rem; font-size: 0; padding-bottom: .18rem; }
.swiper-container .swiper-pagination span { margin-right: 0.14rem; margin-left: 0; box-shadow: none; background-color: rgba(255,255,255,.4); border-radius: .18rem; }
.swiper-container .swiper-pagination span.swiper-pagination-bullet-active { width: .18rem; background-color: #ffb400;border-radius: 100%;}

 .goTop {
    width: 1.36rem;
    height: 1.36rem;
    background: transparent;
    background: url(images/top.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: 0.32rem;
    bottom: 1.57rem;
    z-index: 99;
}

/**分类**/
.innerPhone .category{
    padding-top: 0.4rem;
    padding-bottom: 0.16rem;
    padding-left: .133333rem;
	padding-right: .133333rem;
    margin-bottom: 0.133333rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.innerPhone .category > a{
    display: block;
    width: 1.733333rem;
    text-align: center;
    font-size: 0.24rem;
    margin-bottom: 0.24rem;
    margin-right: 0;
}
.innerPhone .category > a span{
    display: block;
    font-size: .32rem;
    margin-top: .2rem;
}
.innerPhone .category > a:nth-child(4n){
    margin-right: 0;
}
.innerPhone .category img{
    width: 1.733333rem;
    height: 1.733333rem;
}

/**一些公共样式**/
.innerPhone .title{
    text-align: center;
    font-size: 0.4rem;
    height: 1.173333rem;
    line-height: 1.173333rem;
    background: #fff;
}
.innerPhone .title:before,
.innerPhone .title:after {
    display: inline-block;
    content: "";
    width: .546667rem;
    height: .333333rem;
    vertical-align: middle;
    background: url(images/title_left.png) no-repeat center center;
    background-size: 100% 100%;
    margin-right: .28rem;
}
.innerPhone .title:after{
    transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    margin-left: .28rem;
}
.innerPhone .content{
    overflow: hidden;
}

/**人气新品 && 品牌街**/
.innerPhone .popular{
    margin-bottom: 0.133333rem;
    background: #fafafa;
}
.innerPhone .popular .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.innerPhone .popular .content > a{
    width: 4.986667rem;
    margin-top: 1px;
    display: block;
}
.innerPhone .popular .content img{
    width: 100%;
}

/**每日精选**/
.innerPhone .everyday{
    padding-bottom: 0.133333rem;
    margin-bottom: 0.133333rem;
}
.innerPhone .everyday .content{
    padding-left: 0.266667rem;
}
.innerPhone .everyday_product{
    float: left;
    display: block;
    width: 3.04rem;
    margin-right: 0.16rem;
    font-size: 0.266667rem;
    margin-bottom: 0.16rem;
}
.innerPhone .everyday_product:nth-child(3n){
    margin-right: 0;
}
.innerPhone .everyday .imgbox{
    width: 3.04rem;
    height: 3.04rem;
    margin-bottom: 0.08rem;
    overflow: hidden;
}
.innerPhone .everyday img{
    width: 100%;
    height: 100%;
}
.innerPhone .everyday .name{
    text-align: center;
    font-size: 0.266667rem;
    height: .746666rem;
    line-height: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-word;
}
.innerPhone .everyday .payMonth{
    text-align: center;
    color: #f2143d;
}
.innerPhone .everyday .payMonth span{
    font-size: 0.346667rem;
}

/* 免息专区 */
.innerPhone .interst_tab{
    width: 10rem;
    height: 1.04rem;
    display: flex;
}
.innerPhone .interst_tab li{
    flex: 1;
    text-align: center;
    line-height: 1.04rem;
    background: #b31635;
    color: #fff;
    font-size: .346667rem;
}
.innerPhone .interst_tab li.active{
    background: #f2143d;
}
.innerPhone .interst .interst_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: .466667rem .133333rem .466667rem .266667rem
}
.innerPhone .interst .interst_content a{
    display: block;
    box-sizing: border-box;
    width: 2.906667rem;
    padding: .546667rem .146667rem .426667rem;
    /* box-shadow: 3px 3px 1px  #f8f8f8; */
    border: 1px solid #f8f8f8;
    margin-bottom: .133333rem;
    position: relative;
}
.innerPhone .interst .interst_content a .periods{
    position: absolute;
    left: 0;
    top: 0;
    /* width: 1.026667rem; */
    padding: 0 .133333rem;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
    background: #f12b45;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: .213333rem;
}
.innerPhone .interst .interst_content a .imgbox{
    width: 2.613333rem;
    height: 2.613333rem;
}
.innerPhone .interst .interst_content a .imgbox img{
    width: 100%;
    height: 100%;
}
.innerPhone .interst .interst_content a .name{
    height: .746666rem;
    line-height: .4rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #242424;
    font-size: .32rem;
    margin-top: .066667rem;
}
.innerPhone .interst .interst_content a .payMonth{
    width: 2.573333rem;
    height: .666667rem;
    text-align: center;
    line-height: .666667rem;
    background: #f12744;
    color: #fff;
    font-size: .293333rem;
    border-radius: 18px;
    margin-top: .293333rem;
}

/**热销单品**/
.innerPhone .sellWell{
    padding-bottom: 0.293333rem;
}
.innerPhone .sellWell_product{
    position: relative;
    display: block;
    margin-bottom: 0.133333rem;
    overflow: hidden;
}
.innerPhone .sellWell .imgbox{
    float: left;
    margin-left: 0.8rem;
    width: 3.546667rem;
    height: 3.546667rem;
}
.innerPhone .sellWell img{
    width: 100%;
    height: 100%;
}
.innerPhone .sellWell .rightInfo{
    float: right;
    width: 4.733333rem;
    color: #332e32;
    padding-top: 0.32rem;
    padding-right: 0.266667rem;
}
.innerPhone .sellWell .name{
    font-size: 0.32rem;
    height: .746666rem;
    line-height: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-word;
    margin-bottom: 0.773333rem;   
}
.innerPhone .sellWell .payMonth{
    color: #f12d46;
    font-size: 0.346667rem;
    line-height: 1;
}
.innerPhone .sellWell .price{
    font-size: 0.293333rem;
    line-height: 1;
}
.innerPhone .sellWell .btn-buy{
    float: right;
    display: inline-block;
    width: 2.693333rem;
    height: 0.68rem;
    line-height: 0.68rem;
    text-align: center;
    font-size: 0.293333rem;
    color: #fff;
    background-color: #f03f4c;
}

/**分类列表**/
.innerPhone .phoneType{
    position: relative;
}

.innerPhone #tabBox{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    z-index: 99;
}

.innerPhone .tabs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
}
.innerPhone .phoneType .tabs{
    display: flex;
}
.innerPhone .phoneType .tabs li{
    flex: 1;
}
/* .innerPhone .tabs.fix{
    position: fixed;
    top: 1.2rem;
} */
.innerPhone .tabs li{
    display: table-cell;
    height: 1.173333rem;
    line-height: 1.173333rem;
    text-align: center;
    color: #fff;
    background-color: #b31635;
}
.innerPhone .tabs .active{
    background-color: #f2143d;
}
.innerPhone .phoneType .content{
    box-sizing: border-box;
    padding: .133333rem 0.266667rem 0.133333rem;
    background-color: #f8f7f7;
}
.innerPhone .phoneType .product{
    float: left;
    width: 4.666667rem;
    background-color: #fff;
    margin-bottom: 0.133333rem;
    /* margin-right: 0.133333rem; */
}
.innerPhone .phoneType .product:nth-child(2n){
    /* margin-right: 0; */
    float: right;
}
.innerPhone .phoneType .imgbox{
    margin: 0 auto;
    width: 4.4rem;
    height: 4.186667rem;
    overflow: hidden;
    margin-bottom: 0.12rem;
}
.innerPhone .phoneType .imgbox img{
    width: 4.4rem;
    height: 4.186667rem;
}
.innerPhone .phoneType .name{
    margin: 0 auto 0.04rem;
    font-size: 0.266667rem;
    width: 4.4rem;
    height: .746666rem;
    line-height: .4rem;
    color: #0c0c0c;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-word;
}
.innerPhone .phoneType .price{
    margin: 0 auto;
    width: 4.4rem;
    font-size: 0.32rem;
    color: #f2143d;
}
.innerPhone .phoneType .payMonth{
    font-size: 0.266667rem;
    height: .666667rem;
    line-height: .666667rem;
    text-align: center;
    color: #fff;
    background-color: #f2143d;  
}
.innerPhone .phoneType .payMonth span{
    font-size: 0.4rem;
}

.innerPhone .phoneType .category-slide{
    height: 1.066667rem;
    line-height: 1.066667rem;
    border-bottom: 1px solid #bfbfbf;
    font-size: .4rem;
    color: #333333;
}
.innerPhone .phoneType .category-slide .swiper-wrapper{
    box-sizing: border-box;
    padding-left: .266667rem;
    height: 1.066667rem;
}
.innerPhone .phoneType .category-slide .swiper-wrapper .swiper-slide{
    padding: 0 .36rem;
    text-align: center;
}
.innerPhone .phoneType .category-slide .swiper-wrapper .swiper-slide.active{
    border-bottom: .04rem solid #f2143d;
}
.innerPhone .phoneType .category-slide .swiper-wrapper .swiper-slide.listThree{
    padding: 0 .94rem;
}
.innerPhone .phoneType .category-slide .swiper-wrapper .swiper-slide.listfour{
    padding: 0 .52rem;
}
.innerPhone .phoneType .secondlist{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 .266667rem .266667rem;
    border-bottom: 1px solid #e5e5e5;
}
.innerPhone .phoneType .secondlist li{
    width: 1.84rem;
    height: .546667rem;
    text-align: center;
    line-height: .546667rem;
    font-size: .4rem;
    color: #333333;
    margin-top: .266667rem;
    margin-right: .626667rem;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.innerPhone .phoneType .secondlist li:nth-child(4n){
    margin-right: 0;
}
.innerPhone .phoneType .secondlist li.active{
    color: #f2143d;
    border: 1px solid #f2143d;
}

