<main class="main-content balancepassword">
	<div class="scroll">
		<form class="form">
			<div class="item">
				<div class="item-form">
					<span>设置密码</span>
					<input id="password" type="password" name="" maxlength="6" ng-model="vm.passWord" placeholder="请输入6位数字支付密码" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/">
				</div>
				<div class="item-form">
					<span>确认密码</span>
					<input id="password" type="password" maxlength="6" name="" ng-model="vm.againPassWord" placeholder="请再次输入6位数字支付密码" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/">
					<i class="icon-input i-pass-hide" ng-click="vm.passwordShow($event)"></i>
				</div>
			</div>
			<div class="m40" ng-click="vm.verifyForm($event)"><button class="btn" type="button">确定</button></div>
		</form>	
	</div>
</main>

