.balancepassword .scroll{
    margin-top: .266667rem;
}
.balancepassword .item .item-form{
    height: 1.6rem;
    margin-bottom: 0;
    box-sizing: border-box;
    padding-left: .56rem;
    padding-top: .306667rem;
    padding-bottom: .306667rem;
}
.balancepassword .item .item-form:nth-of-type(1){
    border-bottom: .026667rem solid #eeeeee;
}
.balancepassword .item .item-form span{
    display: block;
    color: #343434;
    font-size: .453333rem;
    height: 0.986666rem;
    line-height: 0.986666rem;
    padding-right: .4rem;
    border-right: .026667rem solid #eeeeee
}
input::-webkit-input-placeholder{
    color: #dcdcdc;
    opacity:1;
    font-size: .426667rem;
}
.balancepassword .scroll .btn{
    margin-top: .266667rem;
    background: #fe9b2a;
}