<main class="main-content password">
	<div class="scroll">
		<p class="text">请输入****6808收到的短信验证码</p>
		<form class="form">
			<div class="item">
				<div class="item-form">
					<label for="infoCode"><i class="icon-input i-info"></i></label>
					<input id="infoCode" type="text" name="" placeholder="手机验证码" ng-model="phone">
					<span class="text-empty" ng-click="phone='';">&times;</span>
					<button class="info-btn" type="button"></button>
				</div>
			</div>

			<div class="m40"><a class="btn" href="#/checkIdentity">下一步</a>
		</form>	
	</div>
</main>

