<main class="main-content password forgot-password">
	<div class="scroll">
		<form class="form mt-110 m40">
			<div class="item">
				<div class="item-form">
					<input id="username" maxlength="11" ng-model="vm.phoneNum" type="text" name="" placeholder="11位手机号" ng-blur="blur()" class="">
					<span class="text-empty" ng-click="vm.phoneNum='';">×</span>
				</div>
			</div>
			<div class="item item-special">
				<div class="item-form">
					<input style="width: 60%;" id="infoCode" ng-model="vm.SMCode" type="text" maxlength="6" placeholder="手机验证码区分大小写!">
					<div class="smsCode">
                        <button class="info-btn" type="button" ng-click="vm.send()"></button>
                    </div>
				</div>
			</div>
            <div class="item">
                <div class="item-form">
                    <input id="password" maxlength="20" ng-model="vm.newPassWord" type="password" placeholder="请输入6-20位密码" >
                    <i class="icon-input i-pass-hide" ng-click="vm.passwordShow($event)"></i>
                </div>
            </div>
            <span class="notice">备注：请注意交易密码不能与登录密码一致</span>
			<div class="m40"><button class="btn" ng-click="vm.verifyForm()">完成</button></div>
		</form>	
	</div>
</main>

