.login {
    background: #fff;
}

.login .tab_login {
    width: 100%;
    height: 1.306667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343434;
    font-size: .373333rem;
    border-bottom: .026667rem solid #eeeeee;
}

.login .tab_login .tab_line {
    width: .026667rem;
    height: .626667rem;
    background: #eeeeee;
}

.login .tab_login .tab_left {
    width: 50%;
    height: 1.306667rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .tab_login .tab_right {
    width: 50%;
    height: 1.306667rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .tab_login .tabcut span {
    display: block;
    height: 1.306667rem;
    line-height: 1.306667rem;
}

.login .tab_login .tabcut span.active {
    color: #d65b2f;
    border-bottom: .026667rem solid #d65b2f;
}

.login .form .item-form {
    width: 7.866667rem;
    height: 1.173333rem;
    margin: 0 auto;
    border: 1px solid #f1f0f0;
    border-radius: .586667rem;
    margin-bottom: .266667rem;
    display: flex;
    align-items: center;
}

.login .form1 .item-form {
    position: relative
}

.login .form.form2 .item-form:nth-of-type(2) {
    box-sizing: border-box;
    position: relative;
}

.login .form.form2 .item-form .getcode {
    display: block;
    height: 1.173333rem;
    line-height: 1.173333rem;
    color: #d65b2f;
    font-size: .293333rem;
    position: absolute;
    right: 0.4rem;
    top: 0;
    background: none;
}

.login .form .item-form .text-empty {
    display: block;
    width: 1.173333rem;
    height: 1.173333rem;
    border-radius: 0;
    border: 0;
    background: url(./images/delete.png) no-repeat;
    background-position: center;
    background-size: .493333rem .493333rem;
    background-color: transparent;
}

.login .form1 .item-form .text-empty {
    position: absolute;
    right: 0;
    top: 0;
}

.form1 .item-form .icon-input {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.173333rem;
    height: 1.173333rem;
}

.register-info-btn {
    display: block;
    margin-right: 0.3125rem;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    height: 0.71875rem;
    color: #aaa;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 0.078125rem;
}

.logo-wrap {
    width: 5.493333rem;
    height: 1.04rem;
    text-align: center;
    margin: 1.16rem auto 1.306667rem;
}

.logo-wrap img {
    width: 100%;
    height: 100%;
}

.m40 {}

.i-name {
    background-image: url(../common/images/icon-username.png);
}

.i-pass {
    background-image: url(../common/images/icon-password.png);
}

.i-pass-hide {
    background-image: url(./images/icon-password-hide.png)!important;
    display: block;
    width: 1.173333rem;
    height: 1.173333rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0.3125rem;
}

.i-pass-show {
    background-image: url(./images/icon-password-show.png)!important;
}

.i-verification {
    background-image: url(../common/images/icon-verification.png);
    background-size: 0.546875rem auto !important;
}

.login .form .btn {
    margin-top: 1.875rem;
    margin-bottom: 0.3125rem;
}

.i-info {
    background-image: url(../common/images/icon-info.png);
    background-size: 0.546875rem auto !important;
}

.login .Btn {
    width: 7.866667rem;
    height: 1.173333rem;
    line-height: 1.173333rem;
    color: #fff;
    background: #d65b2f;
    text-align: center;
    font-size: .426667rem;
    margin: 0 auto;
    margin-top: 1.2rem;
}

.login .login-p {
    margin-top: 0.57rem;
}

.login .login-p a {
    color: #343434;
    margin: 0 0.2rem;
    font-size: .32rem;
}

.login .login-p span {
    width: 1px;
    display: inline-block;
    height: 0.4rem;
    background: #c2c2c2;
    margin-bottom: -0.06rem;
}

.login input {
    font-size: 0.36rem;
    display: block;
    box-sizing: border-box;
    /* padding: .4rem 0; */
    height: .4rem;
    line-height: .4rem;
    text-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    border-radius: .586667rem;
}

.register {
    background: #fff;
}

.mt-110 {
    margin-top: 0;
}

.m40 .logo {
    width: 5.306667rem;
    height: .933333rem;
    background: url(./images/logo3.png) no-repeat;
    background-size: contain;
    background-position: center;
    margin: .893333rem auto .666667rem;
}

.register .agreement {
    margin-top: 0.3125rem;
    text-align: center;
}


/* .register .agreement:before { 
    margin-top: -0.1rem;
    content: '';
    display: inline-block;
    margin-right: 0.15625rem;
    width: 0.390625rem;
    height: 0.390625rem;
    vertical-align: middle;
    border: 1px solid #FF6332;
    border-radius: 50%;
} */

.register .agreement.active:before {
    margin-top: -0.1rem;
    background: url(../common/images/icon-right.png) no-repeat center;
    background-size: 0.390625rem;
}

.register .btn {
    margin-left: 0;
    margin-top: .92rem;
    background: #d65b2f;
    border-radius: 1rem;
}

.register .btn[disabled] {
    opacity: 0.5;
}

.register .item-form {
    margin: 0 auto;
    margin-bottom: .28rem;
    width: 7.866667rem;
    height: 1.173333rem;
    position: relative;
    border: 1px solid #f1f0f0;
    border-radius: .586667rem;
}

.register .form .item-form .text-empty {
    display: block;
    width: 1.173333rem;
    height: 1.173333rem;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    background-color: #fff;
    border: none;
    background: url(./images/delete.png) no-repeat;
    background-size: .493333rem .493333rem;
    background-position: center;
    margin-right: 0;
}

.register .form .item-form input {
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.36rem;
    box-sizing: border-box;
    /* padding: 0.4rem 0; */
}

.register .i-pass-hide {
    width: 1.173333rem!important;
    height: 1.173333rem!important;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.register .col-main2 {
    color: #d65b2f;
}

.register .item-form:nth-child(4) {
    margin-bottom: 0.265625rem;
}

.register .form .notice {
    display: block;
    text-align: center;
    color: #343434;
    font-size: .266667rem;
}

.register .smsCode {
    height: 1.09375rem;
}

.register .form .item-form .info-btn {
    display: block;
    font-size: .293333rem;
    margin-right: 0;
    padding-left: 00;
    padding-right: 0;
    height: 1.173333rem;
    color: #d65b2f;
    border: none;
    background-color: #fff;
    border-radius: 0;
    position: absolute;
    right: .4rem;
    top: 0;
}

.register .col-main1 {
    color: #343434;
    font-size: .266667rem;
    display: block;
    text-align: center;
    margin-top: .48rem;
}

.register .col-main1 em {
    color: #d65b2f;
}

.register .m40 {
    width: 7.866667rem;
    height: 1.173333rem;
    margin: 0 auto;
}

.register .smsCode .info-btn {
    margin-right: 0;
    font-size: 0.375rem;
    padding: 0 0.78125rem;
    height: 1.09375rem;
    margin-left: 0.3125rem;
    color: #fff;
    background: #ff5841;
    border-radius: 0;
}

.register-password p {
    margin-top: 0.9375rem;
    margin-bottom: 0.625rem;
}

.register .register-hint {
    text-align: center;
    margin-bottom: 0.23rem;
}

#register-verification {
    padding: 0;
    display: inline-block;
    margin-left: 0.4rem;
    text-align: center;
    background: #eaeaea;
    height: 1.09375rem;
    width: 3.5rem;
}

#verCode {
    height: 1.09375rem;
    background: #eaeaea;
    width: 2.8rem;
}

.register-password .item-form {
    margin-bottom: 0;
}

.register-password .item-form:nth-child(1) {
    border-bottom: 0;
}

.register .icon-radio i {
    display: inline-block;
    margin-top: 0.3125rem;
    box-sizing: border-box;
    height: 0.46875rem;
    width: 0.46875rem;
    border: 1px solid #CDCFD2;
    border-radius: 100%;
}

.register-password .hint {
    padding-left: 1.25rem;
    line-height: 0.78125rem;
}

.register-password .btn {
    margin-top: 1.71875rem;
}

.register-success {
    background-color: #fff;
    padding-top: 2.8125rem;
    text-align: center;
}

.register-success img {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    width: 5.171875rem;
    height: 4.296875rem;
}

.register-success .btn {
    font-size: 0.5rem;
    width: 5.9375rem;
    line-height: 1.09375rem;
    padding: 0;
}

.register-agreement .content {
    padding: 0.625rem 0.3125rem;
}

.register-agreement h2 {
    line-height: 0.9375rem;
    font-size: 0.46875rem;
    text-align: center;
}

.register-agreement .text {
    padding: 0.25rem 0;
}

.register-agreement .btn {
    margin-top: 0.25rem;
    padding: 0 0.46875rem;
    height: 0.75rem;
    line-height: 0.75rem;
    font-size: 0.375rem;
}